@import "tailwindcss";

@theme {

    --animate-appear: appear .1s linear;
    --animate-slide: slide 2.1s linear;
    --animate-slide-from-right: slide-from-right .5s ease;
    --animate-slide-to-right: slide-to-right .5s ease;

    @keyframes appear {
        0% {
            opacity: 0;
        }

        100% {

            opacity: 100;
        }
    }

    @keyframes slide {
        0% {
            opacity: 0;
            right: 0;
        }

        25% {
            opacity: 1;
            right: 16px;
        }

        50% {
            opacity: 1;
        }

        75% {
            opacity: 1;
            right: 16px;
        }

        100% {
            opacity: 0;
            right: 0px
        }
    }

    @keyframes slide-from-right {
        0% {
            right: -100%;
        }

        100% {
            right: 0;
        }
    }

    @keyframes slide-to-right {
        0% {
            right: 0;
        }

        100% {
            right: -100%;
        }
    }
}