@import "tailwindcss";

@theme {

    --animate-appear: appear .1s linear;

    @keyframes appear {
        0% {
            opacity: 0;
        }
        100% {
         
            opacity: 100;
        }
    }
}